<nav id="nav" class="navbar">
  <ul class="sections">
    <li class='logo'>docker friend</li>
    <li class="local <%= request.path_info == '/local' ? 'active' : "" %>"><a href="/local">local</a></li>
    <li class="cloud <%= request.path_info == '/cloud' ? 'active' : "" %>"><a href="/cloud">cloud</a></li>
  </ul>
  <div class="current_profile <%= 'elevated' if session[:elevated]  %>">
    <p>
      <i class="fa <%= session[:elevated] ? 'fa-superpowers' : 'fa-user-circle' %>" aria-hidden="true"></i> <%= session[:current_profile] %>
    </p>
    <form method='POST' action='/profile'>
      <!-- <input type='hidden' name='role' value=''></input> -->
      <input class="unset" type='submit' name="unset" value='log out'></input>
      <i class='fa fa-caret-down'></i>
    </form>
  </div>

</nav>
